/Enya/Enya,iml
/Enya/target/
/Enya/core/target/**
/Enya/web/target/**
/Enya/tenant/target/**
/Enya/img/target/**
img/**

/Enya/core/log/
/Enya/web/log/
/Enya/web/src/main/webapp/attachFiles/
/core/target/**
web/target/**
tenant/target/**
*.iml
.log
*.log
portfolio*.bin
pom.properties
/office/.idea/
**/.idea/**
**/updload/**
*.log.zip
*/.gitignore